<% if seller_signed_in? %>
<%= form_with(model: [@question,@answer], local: true) do |f| %>
  <div>
    <%= f.label :body, "回答フォーム表示" %><br>
    <%= f.text_area :body %>
  </div>
  <%= f.submit "投稿する" %>
<% end %>
<% end %>
